QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
COLLECTION=products_v1

SPARSE_EMBEDDING_MODEL = "Qdrant/bm25"
DENSE_EMBEDDING_MODEL = "jinaai/jina-embeddings-v2-small-en"

# LLM
LLM_API_KEY=<Your LLM API Key>
LLM_MODEL=claude-3-5-sonnet-20240620
LLM_TEMPERATURE=0.2
LLM_MAX_TOKENS=1024

#postgres
POSTGRES_HOST=localhost
POSTGRES_DB=ai_stylist
POSTGRES_USER=postrges
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
